@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .no-scrollbar {
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }

  .hover-gradient-text:hover {
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(98deg, #3f5ef4 0%, #00eb90 100%);
  }

  .hover-gradient-button:hover {
    background-image: linear-gradient(98deg, #3f5ef4 0%, #00eb90 100%);
    color: white;
  }
}
